@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

header {
  width: 100%;
  background: #fff;
  height: 9.375em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
header h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 0.07em;
  letter-spacing: 1px;
}
header h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 1.4px;
  color: rgb(47, 47, 47);
}

.menu {
  width: 100%;
  height: 3.75em;
  background: #fff;
}
.menu img {
  width: 14px;
}
.menu-container {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-social,
.menu-shop {
  display: flex;
}
.menu-social img:hover,
.menu-shop img:hover {
  border-bottom: 3px solid var(--yellowWhite);
}
.menu-items ul {
  display: flex;
  list-style: none;
}
.menu-items ul li {
  margin: 0 5px;
}
.menu-items ul li a {
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: "Now", sans-serif;
  position: relative;
  z-index: 1;
}
.menu-items ul li a::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 6px;
  background: var(--yellowWhite);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
}
.menu-items ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
body#inicio .menu .menu-items ul li:nth-child(1) a::after,
body#cursos .menu .menu-items ul li:nth-child(2) a::after,
body#nosotros .menu .menu-items ul li:nth-child(3) a::after {
  transform: scaleX(1);
}

@media only screen and (max-width: 1444px) {
  .menu-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 8em;
  }
  .menu-container {
    width: 90%;
  }
  .menu-items {
    font-size: 1.2em;
  }
  .menu {
    width: 100%;
    height: 4em;
    background: #fff;
  }
  .menu-items ul li a::after {
    height: 2px;
  }
}