@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  background: #fff;
}
.checkbox {
  display: none;
}
header {
  position: relative;
  width: 100%;
  z-index: 10;
  /* background: #fff; */
}
.header-container {
  width: 90%;
  position: relative;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header-logo-container {
  transition: 0.3s;
  /* transition-delay: 0.3s; */
  background: url(../assets/images/logo-header-black.png);
  background-size: 10rem;
  margin-top: 5px;
  height: 48px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.search-header-input {
  text-align: center;
  padding-left: 24px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.btn-label {
  width: 2rem;
  height: 1.4rem;
}
.header-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-button {
  width: 2rem;
  height: 0.2rem;
  background: #000;
  position: absolute;
  top: 1.9rem;
  transition: all 0.2s;
}
.header-button::before,
.header-button::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: #000;
  position: absolute;
  top: -0.6rem;
  transition: all 0.2s;
}
.header-button::after {
  top: 0.6rem;
}
.menu {
  background: #383e59;
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 9;
  top: -25rem;
  transition: all 0.5s;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.menu::after {
  content: "Piensengrande";
  position: absolute;
  font-size: 600px;
  letter-spacing: -20px;
  color: #33384d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 9;
  font-weight: 900;
  width: 100%;
  bottom: 0;
  left: 0;
}
.menu-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  z-index: 10;
}
.menu-socials a img {
  width: 25px;
}
.menu-pages-container {
  width: 60%;
  margin: auto;
}
.menu-pages {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
ul {
  list-style: none;
}
.menu-pages li {
  line-height: 80px;
  font-size: 42px;
  font-weight: bold;
  z-index: 10;
}
.menu-pages li a:hover {
  color: #f4ab00;
}
body#portada .menu-pages li:nth-child(1) a,
body#blog .menu-pages li:nth-child(2) a,
body#about .menu-pages li:nth-child(3) a,
body#contact .menu-pages li:nth-child(4) a {
  color: #f4ab00;
}
a {
  margin: 0.2rem 0;
  color: #fff;
  text-decoration: none;
}
.checkbox:checked ~ .menu {
  background: #383e59;
  top: 0rem;
  height: 100vh;
  color: #fff;
}
.checkbox:checked + header .header-container label .header-button {
  background: none;
}
.checkbox:checked + header {
  background: none;
}
.checkbox:checked + header .header-container .header-logo-container {
  transition: 0.1s;
  background: url(../assets/images/logo-header-white.png);
  background-repeat: no-repeat;
  background-size: 10rem;
  z-index: 100;
}
.checkbox:checked + header .header-container {
  grid-template-columns: 1fr 1fr;
}
.checkbox:checked + header .search-header {
  display: none;
}
.checkbox:checked + header .header-container label .header-button::before {
  transform: rotate(40deg);
  top: 0;
  background: #fff;
}
.checkbox:checked + header .header-container label .header-button::after {
  transform: rotate(-40deg);
  top: 0;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .header-container {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
  .header-logo-container {
    margin-top: 0px;
  }
  .search-header {
    display: none;
  }
  .header-button {
    top: 1.2rem;
  }
  .menu {
    grid-template-columns: 1fr 4fr;
  }
  .menu::after {
    font-size: 350px;
    letter-spacing: -10px;
  }
}
