.landing-section-container {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -100px;
}
.landing-section-container h1 {
  color: gray;
  text-transform: uppercase;
  margin: 10px 0;
}
.landing-section-container h2 {
  color: #191a1e;
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 20px;
}
.landing-section-container h2 span {
  color: orange;
}
.landing-section-container a {
  /* background-color: #ead700; */
  background: #191a1e;
  color: #fff;
  margin: 20px 0;
  border-radius: 50px;
  padding: 12px 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.about-us-section {
  background: #383e59;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us-section-container {
  width: 70%;
  margin: auto;
  color: #fff;
  text-align: center;
}
.about-us-section-container img {
  width: 60px;
  transform: rotate(180deg);
  margin-bottom: 30px;
}
.about-us-section-description {
  font-weight: 600;
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 35px;
  line-height: 1.4em;
}
.about-us-section-fuente {
  margin: 70px 0 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
@media only screen and (max-width: 600px) {
  .landing-section-container h1 {
    font-size: 20px;
  }
  .landing-section-container h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .about-us-section {
    height: 100vh;
  }
  .about-us-section-container {
    width: 80%;
  }
  .about-us-section-container img {
    width: 35px;
    margin-bottom: 30px;
  }
  .about-us-section-description {
    font-size: 25px;
  }
  .about-us-section-fuente {
    margin: 40px 0 0;
    font-size: 14px;
  }
}
