.politica-section {
  width: 50%;
  margin: auto;
  padding: 30px 0;
}
.politica-section h1 {
  color: #333;
}
.politica-section h3 {
  color: #333;
  text-transform: uppercase;
}
.politica-section p {
  color: #666;
  margin: 20px 0;
}
.politica-section li {
  color: #666;
  font-size: inherit;
  line-height: 20px;
}
@media only screen and (max-width: 600px) {
  .politica-section {
    width: 85%;
    padding: 10px 0;
  }
  .politica-section li {
    line-height: 24px;
  }
}
