@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #000;
  color: #fff;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo-fondo {
  position: relative;
  width: 200px;
  opacity: 0.1;
  display: none;
}
.landing-container {
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-container h1 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.landing-container .countdown {
  display: flex;
  margin: 100px 0 200px;
}
.landing-container .countdown div {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  font-size: 130px;
  font-weight: bold;
  margin: 0 50px;
  color: lightgray;
  text-align: center;
}
.landing-container .countdown div:first-child {
  color: #ead700;
}
.landing-container .countdown div span {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.social img {
  margin: 0 10px;
  width: 30px;
}
@media only screen and (max-width: 600px) {
  .landing-container h1 {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .landing-container .countdown div {
    font-size: 40px;
    margin: 0 15px;
  }
  .landing-container .countdown div span {
    font-size: 15px;
  }
}
